{% extends "base.html" %}

{% block title %} Upload Audio {%endblock%}

{%block page_content %}
<h2>Upload Audio</h2>
<form method = "POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Upload</button>
</form>
{% for item in responses %}
  <p><strong>Uploaded:</strong> {{ item.created_at }}</p>
  <audio controls src="{{ item.audio_file.url }}"></audio>
  <p><strong>Transcript:</strong> {{ item.transcript }}</p>
  <hr>
{% endfor %}

{%endblock%}